@import "../../assets/styles/colors";

.menu {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        &-item {
            padding: 0;
            margin: 1rem 0;
            &-link {
                border: 0;
                &:hover,
                &:focus,
                &--active {
                    color: $color-primary;
                    border-bottom: 3px solid $color-primary;
                }
            }
        }
    }
}
