@import "./_mixin";

$color-gray-border: gray;
$color-white: white;



// Layout
.layout {
  max-width: $desktop-max;
  margin-left: auto;
  margin-right: auto;
  @include container();

}

.content {
    &__inner {
        padding: 25px 20px;
    }
}
.content,
.sidebar {
  margin-top: 4rem;
  @include col(12);
}


@include mediaQuery($min, $tablet) {

  .content {
      @include col(8);
      &__inner {
          padding: 30px 20px;
      }
  }

  .sidebar {
      @include col(4);
      &__inner {
          padding: 30px 20px 0;
          &:before {
              background: $color-gray-border;
              background: linear-gradient(to bottom, $color-gray-border 0%, $color-gray-border 48%, $color-white 100%);
              position: absolute;
              content: "";
              width: 1px;
              height: 540px;
              top: 30px;
              left: -10px;
              bottom: 0;
          }
      }
  }
}

@include mediaQuery($min, $desktop) {
    .content {
        @include col(8);
        &__inner {
            padding: 40px 35px;
        }
    }
    .sidebar {
        @include col(4);
        &__inner {
            padding: 40px;
        }
    }
}
