@import "./colors";
@import "./base/typography";

$flegrix-grid: (
  // debug: true,
    // draw column-midline in debug-mode → default: false
    debug-container-column-midline: true,
  // draw gutter-midline in debug-mode → default: false
    debug-container-gutter-midline: true
);

@import "~flegrix/flegrix.scss";
