@import "./colors";
@import "./base/typography";

$flegrix-grid: (
  // debug: true,
  debug-container-column-midline: true, // draw column-midline in debug-mode → default: false
  debug-container-gutter-midline: true, // draw gutter-midline in debug-mode → default: false
);

// @import "~/flegrix/flegrix.scss";
@import "./flegrix/flegrix.scss";
